:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.swiper {
  width: 700px;
}

.slide-thumb {
  width: 100px!important;
  height: 100px!important;
}

.slider {
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.swiper-main {
  width: 500px;
  height: 500px;
  margin-left: 10px!important;
  margin-right: 0!important;
}

.swiper-main .swiper-wrapper {
  height: 500px;
}

.swiper-thumbs {
  height: 500px;
  width: 100px;
  margin-left: 0!important;
  margin-right: 0!important;
}

/* .swiper-vertical .swiper-wrapper {
  justify-content: space-between;
} */